body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.fonewalls.com%2F750x1334-wallpapers%2F750x1334-background-hd-wallpaper-343%2F&psig=AOvVaw1I9T3kdkRu4k9qQZIcVzFK&ust=1579373648836000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOit4sSni-cCFQAAAAAdAAAAABAD");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  body
{
    background-image: url("/assets/img/form.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    position: absolute;
    /* height: 500%; */
    width: 98%;
} 