<footer id="footer" class="clearfix" style="align-self: flex-end">
   
    <section class="footer-bottom clearfix">
      <div class="container">
        <div class="row">
        
          <div class="col-sm-3">
            <div class="footer-widget">
              <h3>Quik Links</h3>
              <ul>
                <li><a routerLink="/home">About Us</a></li>
                <li><a routerLink="/home">Contact Us</a></li>
                <li><a routerLink="/home">Careers</a></li>
                <li><a routerLink="/home">All Cities</a></li>
                <li><a routerLink="/home">Help & Support</a></li>
                <li><a routerLink="/home">Advertise With Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="footer-widget social-widget">
              <h3>Follow us on</h3>
              <ul>
                <li><a routerLink="/home"><i class="fa fa-facebook-official"></i>Facebook</a></li>
                <li><a routerLink="/home"><i class="fa fa-twitter-square"></i>Twitter</a></li>
                <li><a routerLink="/home"><i class="fa fa-google-plus-square"></i>Google+</a></li>
                <li><a routerLink="/home"><i class="fa fa-youtube-play"></i>youtube</a></li>
              </ul>
            </div>
          </div>
         
        </div>
      </div><!-- container -->
    </section>
  
    <div class="footer-bottom clearfix text-center">
      <div class="container">
        <p>Copyright &copy; <a >Jobs</a> 2019. Developed by <a href="emis.sunbeaminfo.in">Cdac Projects</a></p>
      </div>
    </div><!-- footer-bottom -->
  </footer>