<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <ul class="nav navbar-nav" style="font-size: xx-large">
      <li>
        <a class="glyphicon glyphicon-chevron-right" routerLink="/personal">PersonalDetails</a>
      </li>
      <li>
          <a class="glyphicon glyphicon-chevron-right" routerLink="/updateProfile">UpdateProfile</a>
        </li>
      <li>
        <a class="glyphicon glyphicon-chevron-right" routerLink="/resume">SeeResume</a>
      </li>
    </ul>
  </nav>
  <table>
    <tr>
      <td style="width: 40%;"></td>
      <td style="width: 60%;">
        <h1 style="font-size: 1cm;color: black;text-align: center;font-weight: bold;">Information Required to Complete a Job Application</h1><br>
        <h3 style="color: black;">
            When you complete a job application, regardless of whether it is a paper application or an online job application, there is information you will need to provide to apply for the job and be considered for the position.<br>
            In addition to providing personal information, work history, education, qualifications, and skills, you will also be asked to attest to the fact that all the information you are giving is accurate.<br>
            Not telling the truth, fudging employment dates, leaving out information, and other inaccuracies on your application or resume can be grounds for not being hired or for being terminated in the future if the company finds out you misrepresented your background or lied.
        </h3>
        <h1 style="font-size: 0.8cm;color: black;font-weight: bold;">Personal Information</h1><br>
        <ul style="font-size: 0.5cm;color: black">
          <li>Name</li>
          <li>Address, city, state, ZIP code</li>
          <li>Phone number</li>
          <li>Email address</li>
        </ul>
        <h1 style="font-size: 0.8cm;color: black;font-weight: bold;">Education  Information</h1>
        <ul style="font-size: 0.5cm;color: black">
          <li>School, degrees</li>
          <li>graduation date</li>
          <li>qualifications</li>
          <li>skill</li>
        </ul>
      </td>
    </tr>
  </table>
</body>
</html>
