<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div style="background-image: url(assets/img/aboutus.jpg);text-align: center;">
        <br><br><br><br><br><br>
        <h1 style="font-size: 2cm;color: white;">Hire smarter & grow faster</h1>
        <br><br><br><br>
        <h1 style="font-size: 1cm;color: white;">The best applicant tracking system helping over 2500 companies across the world manage jobs,<br> candidates, interviews, and hiring, in less time, with less effort.</h1>
        <br><br><br><br><br><br>
    </div>
    <div>
            <br><br><br><br>
        <table>
            <tr>
                <td></td>
                <td style="width: 70%;text-align: center;font-size: 0.6cm;margin: 10%;">
                    <table>
                        <tr>
                            <td>
                                    <div>
                                            “With Recruiterbox, everyone in our team knew exactly what was happening with each candidate and it saved us a ton of time!”
                                            <br>Kalyan Varma,<br> Co-founder & CTO, <br>Almabase
                                    </div>
                            </td>
                            <td>
                                    <div>
                                            “We are constantly searching to hire the best people for the job. Recruiterbox allows us to reach deeper into online sites for candidates.”
                                           <br> Merryl Nik-Khah,<br> Human Resources Director,<br> Beauty Brands
                                    </div>
                            </td>
                            <td>
                                    <div>
                                            “We looked at everything, and I really found an exceptional user experience with Recruiterbox. It's very intuitive and easy to use. You guys nailed it!”
                                           <br> Brian Manning, <br>Co-founder,<br>
                                            Centric Digital
                                   </div>
                            </td>
                        </tr>
                    </table>    
                </td>
                <td></td>
            </tr>
        </table>
    </div>
    <div style="text-align: center;">
        <br><br><br><br>
        <h1 style="font-size: 1.3cm;color: black;font-weight: bold;">Hire smarter & grow faster</h1>
        <br><br>
        <h1 style="font-size: 0.8cm;color: black;font-weight: bold;">The best applicant tracking system helping over 2500 companies across the world manage jobs,<br> candidates, interviews, and hiring, in less time, with less effort.</h1>
        <br><br><br>
    </div>
    <table>
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 70%;">
                    <div style="width: 70%;text-align: center;">
                            <table>
                                <tr>
                                    <td>
                                        <img src="assets/img/zapier.jpeg" class="img-responsive" alt="Image">
                                    </td>
                                    <td>
                                        <img src="assets/img/slack.png" class="img-responsive" alt="Image"style="width:100%;height50%">
                                    </td>
                                    <td>
                                        <img src="assets/img/glassdoor.jpeg" class="img-responsive" alt="Image">
                                    </td>
                                    <td>
                                        <img src="assets/img/indeed.png" class="img-responsive" alt="Image">
                                    </td>
                                    <td>
                                        <img src="assets/img/ziprec.jpeg" class="img-responsive" alt="Image" style="width: 100%;height: 50%;">
                                    </td>
                                </tr>
                            </table>
                        </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 70%;">
                    <div style="width: 70%;text-align: center;">
                            <table>
                                <tr>
                                    <td>
                                        <img src="assets/img/linked.png" class="img-responsive" alt="Image">
                                    </td>
                                    <td>
                                        <img src="assets/img/twiter.webp" class="img-responsive" alt="Image"style="width:50%;height50%">
                                    </td>
                                    <td>
                                        <img src="assets/img/adzuna.png" class="img-responsive" alt="Image">
                                    </td>
                                    <td>
                                        <img src="assets/img/facebook.png" class="img-responsive" alt="Image">
                                    </td>
                                    <td>
                                        <img src="assets/img/job.jpeg" class="img-responsive" alt="Image" style="width: 100%;height: 50%;">
                                    </td>
                                </tr>
                            </table>
                        </div>
            </td>
            <td></td>
        </tr>
    </table>
    <table>
        <tr>
            <td></td>
            <td style="width: 70%;">
                <table>
                    <tr>
                        <td>
                            <h1 style="font-size: 1.3cm;color: black;">Post Jobs on multiple platforms</h1>  
                            <ul style="font-size: 0.7cm;color: black;">
                                <li>Free posting to 20+ Job Boards</li>
                                <li>Post on Linkedin Job Listings for Free</li>
                                <li>Post on Careers Tab of your Facebook page</li>
                                <li>Post on your Website careers page</li>
                                <li>Share on Facebook, Twitter & LinkedIn pages</li>
                                <li>Sponsor on premium Job Boards</li>
                            </ul>
                            <h3>Manage all your job postings from a single tool<br> and focus more on your recruiting!</h3>
                        </td>
                        <td>
                                <h1 style="font-size: 1.3cm;color: black;"> Effective candidate management

                                    </h1>  
                                <ul style="font-size: 0.7cm;color: black;">
                                    <li>Communicate with candidates on a centralized communication platform</li>
                                    <li>Track applicant progress across your custom recruitment pipeline</li>
                                    <li>Assign tasks to team members and collaborate on candidates</li>
                                    <li>Send automated messages to better engage your candidates</li>
                                    <li>Share on Facebook, Twitter & LinkedIn pages</li>
                                    <li>Shortlist best-fit candidates with Smart Filter in just a few seconds</li>
                                </ul>
                                <h3>Collect and manage all candidate applications in your online talent pool. Access candidate information and resumes as online profiles!</h3>
                        </td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
    </table>
    <br><br>
    <div style="background-image: url(assets/img/blue1.jpeg);text-align: center;"><br><br>
        <h1 style="font-size: 1.3cm;color: black;font-weight: bold;">
                Sign up for a Lifetime FREE Recruiting Account today!
        </h1><br>
        <h2 style="color: black;">GoHire named one of the top 5 most user-friendly applicant tracking systems by Capterra.</h2>
        <h2 style="color: black;">GoHire named a high performer in Applicant Tracking.</h2>
        <h2 style="color: black;">Unlike most applicant tracking systems, GoHire is completely web-based.</h2>
    <br>
    </div>
<br><br><br>
<h3 style="text-align: center;">2020 GoHire Technologies LTD. All rights reserved.</h3>
<br>
</body>
</html>