


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <ul class="nav navbar-nav" style="font-size: xx-large">
      <li>
        <a class="glyphicon glyphicon-chevron-right" routerLink="/addcompany">Add_Company_Details</a>
      </li>
      <li>
        <a class="glyphicon glyphicon-chevron-right" routerLink="/addjoblist">Add_Vacancies</a>
      </li>
      <li>
        <a class="glyphicon glyphicon-chevron-right" routerLink="/cmpdetails">See_saved_Jobs</a>
      </li>   
    </ul>
  </nav>
  <br>
  <table>
    <tr>
      <td style="width: 40%;"></td>
      <td style="width: 60%;">
        <br>
        <h1 style="font-size: 1cm;color: black;text-align: center;font-weight: bold;">What do company reviews say about you as an employer?</h1><br>
        <h3 style="color: black;">
            83% of people say employer reviews impact where they apply.
With over 100 million company ratings and reviews, Indeed Company Pages help you attract and engage best-fit candidates.
        </h3>
        <h1 style="text-align: center;color: black">How it works</h1>
        <br>
        <h3 style="color: black">Every employer with jobs on Indeed automatically has a Company Page. Claim your page to unlock employer-only features and update your page with company information, photos, a logo and more.Claim your page to update it with company information, photos, a logo and more. People can follow your page to get updates on new jobs and company reviews.</h3>
        <br>
        <h1 style="font-size: 0.8cm;color: black;font-weight: bold;">JobList  Information</h1><br>
        <ul style="font-size: 0.5cm;color: black">
          <li>Job Profile</li>
          <li>Location</li>
          <li>Quality of Candidate, Criteria</li>
          <li>No of Vacancies</li>
        </ul>
      </td>
    </tr>
  </table>
</body>
</html>
