<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <table>
    <tr>
      <td style="width: 55%;"></td>
      <td>
        <br><br>
  <div style="text-align: center;">
    <h1 style="font-size: 1.2cm;color: red;font-weight: bold;">Don't be a stranger</h1>
    <h1 style="font-size: 1.2cm;color: black;font-weight: bold;">just say hello.</h1>
    <br><br>
    <p style="font-size: x-large;">
      Feel free to get in touch with me. I am always open<br> to discussing new projects, creative  ideas or opportunities <br>to be part of your visions.
    </p>
  </div>
    <br><br><br><br>
    <div>
      <h3>Need help?</h3>
      <h3 style="font-weight: bold;">webbasedrecruitmentsys@gmail.com</h3><br>
      <h3>Feel like talking</h3>
      <h3 style="font-weight: bold;">+91-6879456790</h3>
  
  <table>
    <tr>
      <td></td>
    </tr>
  </table>
    </div>
      </td>
    </tr>
  </table>
  
</body>
</html>