body
{
    background-image: url("/assets/img/login1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    background-position: center;
    /* background-attachment: fixed; */
    height: 100%;
    width: 100%; 
} 